@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
/* Add this to your global CSS file */
@keyframes scan {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scan {
  animation: scan 4s linear infinite;
}